@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Open+Sans&family=Poppins:wght@300;400&display=swap");

body {
  background: #1d1d1d;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: transparent;
  padding: 10px 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
}

.navbar a {
  float: left;
  color: var(--white);
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
  padding: 12px;
  text-transform: uppercase;
}

.navbar .logo {
  font-size: 30px;
  display: flex;

  flex: 1;
  color: var(--black);
}
.navbar .logo img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.navbar .logo p {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}
.navbar .logo .navbar-right a:hover {
  color: var(--black);
  border-bottom: 2px solid var(--black);
}

.navbar-right a.active {
  color: var(--black);
  border-bottom: 2px solid var(--black);
}

.navbar-right a {
  transition: 0.5s;
  color: #fff;
}

.cart {
  position: relative;
}

.cart i {
  font-size: x-large;
}

.badge {
  position: absolute;
  top: 0;
  right: 1px;
  font-size: 12px;
  background-color: var(--red);
  width: 20px;
  height: 20px;
  padding: 2px;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}

.signup-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 560px;
  width: 80%;
  margin-top: 2.5rem;
}
.signup-area {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-area .img {
  height: 100%;
  width: 50%;
}
.signup-area .img img {
  height: 100%;
  width: 100%;
}
.signup-area form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  width: 50%;
  height: 100%;
}
.signup-area form input {
  width: 80%;
  padding: 15px 10px;
  box-shadow: 0px 4px 10px #00000026;
  border: none;
  outline: none;

  margin: 10px 0;
}
.signup-area form h2 {
  color: #2c2c2c;
  margin-bottom: 20px;
}
.signup-area form input {
  color: #2c2c2c;
}
.signup-area form input::placeholder {
  font-family: "Poppins", sans-serif;
}
.signup-area form button {
  background: transparent;
  border: 2px solid #2c2c2c;
  color: #2c2c2c;
  padding: 5px 10px;
  width: 130px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-top: 30px;
}
@media (max-width: 750px) {
  .signup-form {
    height: auto;
    flex-direction: column;
  }
  .signup-area {
    height: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .signup-area form {
    width: 100%;
    padding: 30px 0px;
  }
  .signup-area .img {
    width: 100%;
  }
}
@media (max-width: 660px) {
  .navbar {
    padding: 10px 20px;
  }
  .navbar .logo {
    flex: 0;
  }
  .navbar .logo img {
    width: 30px;
    height: 30px;
    margin-right: 0px;
  }
}
